body {
      font-family: "Avenir Next";
}

li {
	  list-style: none;
}

.kop {
	  background-color: #000080;
	  color: #fff;
	  height: 50px;
}
	   
.header {
	  background-color: #87cefa;
	  color: #fff;
	  height: 90px;
}

.header li:hover {
	  background-color: red; 
	  font-size:25px;
	  color: blue;
}

.header-logo img{
	  float: left;
	  width: 80px;
	  height: 80px;
	  margin-top: 5px;
	  margin-left: 20px;
}
.header-logo2 img{
	  float: right;
	  width: 80px;
	  height: 80px;
	  margin-top: 5px;
	  margin-left: 20px;
	  margin-right: 17px;
}

.header-list {
	 margin-left: 50px;
	 padding-left: 330px;
}

.header-list li {
	  float: left;
	  padding: 33px 20px;  
      border: 0px solid blue;
      padding : 20px 40px;
      margin-left: 20px ;
      margin-top: 15px;
      background-color: white;
}

.main {
    padding: 50px 50px; 
    background-color: white;
            
}

.contents1 h1{
	 text-align: center;
}

.contents2 img{
	 float: center;
}

.contents3 p{
	  font-weight: normal;
}






.contents22  {
	  height: 700px;
	  margin-top: 100px;
}

.contents2 h5{
	  color: #ff4a4a;
}

.contents-item2 p {
	  font-size: 14px;
	  text-align:center;
	  margin-top: 30px;
	  border:2px solid blue;
	  border-radius:25px;
	  background-color:red;
	  color:white
}

.contents-item2 img{
	 width: 250px;
     height: 250px;
}
  
.contents-item2 p:hover {
	  font-size: 14px;
	  text-align:center;
	  margin-top: 30px;
	  border:2px solid red;
	  border-radius:25px;
	  background-color: blue;
	  color:white;
}
  
.contents-item {
	  float: left;
	  margin-right: 20px;
	  padding: 10px 10px;
}

.contents-item2 {
	  float: left;
	  margin-right: 20px;
}





.contents33 h1{
	 text-align: center;
}

table {
	 width: 100%;
}
button {
		width:100%;
		border: none;
		background-color: green;
		color: white;
		font-size: 15px;
		cursor: pointer;
}
	button:hover {
		width: 100%;
		background-color: black;
		border: none;
		font-size: 16px;
		cursor: pointer;
}







.footer {
	  background-color: black;
	  height: 40px;
	  color: #fff;
	  padding: 40px;
}

.footer-logo {
      font-size: 32px;
      float: left;
}

.footer-list {
      float: right;
	  margin-left: 30px;
}

.footer-list2 {
      text-align: center;
      color: gold;
}

.footer-list2 p {
	 margin-left: 200px;
}

.footer-list li { 
      padding-bottom: 10px;
}